body {
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  overflow: hidden;
}

#character-creator {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  width: 300px;
  max-height: 80vh;
  overflow-y: auto;
  color: #f39c12;
}

h1,
h2 {
  text-align: center;
  color: #f39c12;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #f39c12;
  font-weight: bold;
}

select,
input[type="range"],
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #f39c12;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #333;
  color: #f39c12;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: #555;
  height: 5px;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #f39c12;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #f39c12;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

button {
  background-color: #f39c12;
  color: black;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e67e22;
}

button:active {
  background-color: #d35400;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #f39c12;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e67e22;
}
