@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}

html {
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
}

body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#gender {
  position: fixed;
  display: flex;
  gap: 1rem;
  width: 100vw;
  justify-content: center;
  align-items: center;
  top: 2rem;
}
#gender input[type="radio"] {
  display: none;
}
#gender label {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: snow;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.5);
  transform: scale(1);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

#gender label svg {
  width: auto;
  height: 100%;
}

#gender input[type="radio"]:checked + label {
  background-color: rgb(64, 32, 73);
  transform: scale(1.5);
}

#gender input[type="radio"]:checked + label svg {
  fill: #78df6f;
}

#character-creator {
  position: fixed;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.473);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(9.3px);
  -webkit-backdrop-filter: blur(9.3px);
  padding: 0 20px;
  border-radius: 10px;
  max-height: 98vh;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  cursor: default;
  max-width: 400px;
  width: 400px;
  height: 98vh;
}

#character-creator > h1 {
  font-size: 1.75rem;
  text-align: center;
  position: relative;
  color: snow;
  padding-top: 1rem;
  text-shadow: rgb(0, 0, 0) 1px 1px 10px;
}

#character-creator > h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: rgb(128, 0, 128);
  bottom: -3px;
  z-index: -1;
}

.tabs {
  position: absolute;
  width: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style: none;
  gap: 1rem;
  left: -2.5rem;
  top: 1rem;
}

.tab-button {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  background-color: #78df6f;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
  border-radius: 0.75rem 0 0 0.75rem;
  box-shadow: -0.25rem 0.25rem 0 0.25rem rgb(128, 0, 128);
}

.tab-button svg {
  width: auto;
  height: 100%;
}

.tab-button:hover {
  box-shadow: rgb(128, 0, 128) 0px 5px 1px 2px;
  transition: all 150ms ease-in-out;
}

.tab-button.active {
  box-shadow: rgb(128, 0, 128) 0px 5px 1px 2px;
  transition: all 150ms ease-in-out;
}

.tab-content {
  flex-direction: column;
  gap: 1rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 1rem;
}

fieldset label {
  color: snow;
  text-shadow: black 1px 1px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
fieldset label span {
  width: 3rem;
  height: 2rem;
  padding: 0.25rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(182, 0, 182);
  color: snow;
  border-radius: 0.25rem;
  font-size: 1rem;
}
fieldset input[type="range"] {
  appearance: none;
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
}

fieldset input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: rgb(161, 57, 161);
  border-radius: 50%;
  cursor: pointer;
}

fieldset input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: rgb(182, 0, 182);
  border-radius: 50%;
  cursor: pointer;
}

.active {
  display: flex;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.buttons button {
  padding: 0.5rem 0.75rem;
  border: none;
  background-color: rgb(128, 0, 128);
  color: snow;
  font-family: "Outfit";
  text-shadow: black 1px 1px;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1rem;
  transition: 150ms ease-in-out;
}

.buttons button:hover {
  transform: translateY(-5px);
  box-shadow: #78df6f 0px 3px 3px 1px;
  transition: all 150ms ease-in-out;
}

.buttons button:focus {
  background-color: #78df6f;
  color: black;
  transition: all 150ms ease-in-out;
  text-shadow: none;
}

details {
  width: 360px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-sizing: border-box;
  max-width: 500px;
  overflow: hidden;
}

details > summary {
  list-style: none;
  background-color: rgb(64, 32, 73);
  margin-bottom: 5px;
  padding: 0.4rem 0.75rem;
  color: snow;
  border-radius: 7px;
  width: 100%;
  box-sizing: border-box;
}

details > div > fieldset {
  display: flex;
  flex-direction: row;
  border: none;
  width: 100%;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  height: auto;
}

details > div > fieldset > label {
  width: 65%;
  text-align: start;
  font-size: 1.1rem;
  font-family: "Outfit";
  color: snow;
  text-shadow: black 1px 1px;
}
details > div > fieldset > input {
  width: 35%;
}

#features
  > details
  > div
  > fieldset
  > input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #8aff7f;
  border-radius: 50%;
  cursor: pointer;
}

#features > details > div > fieldset > input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #8aff7f;
  border-radius: 50%;
  cursor: pointer;
}

.details-content {
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: none;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.29rem;
}

.details-content .open {
  max-height: 1000px;
}

summary {
  background: #8dd792;
  padding: 5px;
  border: 2px solid transparent;
  outline: none;
}

summary:focus {
  border-color: black;
}

#clothing {
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
  text-align: start;
  width: 100%;
}

#clothing > h2 {
  align-self: center;
  font-size: 1.35rem;
  text-align: center;
  position: relative;
  color: snow;
  text-shadow: rgb(0, 0, 0) 1px 1px 10px;
  margin-bottom: 0.5rem;
}

#clothing > fieldset {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
}

#clothing > fieldset > label {
  width: 60%;
  font-family: "Outfit";
  font-size: 1.15rem;
  color: snow;
  text-shadow: rgb(0, 0, 0) 1px 1px;
}

#clothing > fieldset > button {
  width: 60px;
  font-size: 1.25rem;
  border: none;
  background-color: transparent;
  color: snow;
  cursor: pointer;
  transition: all 30ms ease-in-out;
}

#clothing > fieldset > button:active {
  transform: scale(0.85);
  transition: all 30ms ease-in-out;
}

#clothing > fieldset > button > img {
  width: 25px;
  height: 25px;
}

#clothing > fieldset > output {
  width: 80px;
  align-self: center;
  text-align: center;
  max-width: 80px;
  padding-bottom: 7px;
  color: snow;
  text-shadow: black 1px 1px;
}
